body{
	background-color: #746347;
	margin: 0;
	font-family: Consolas;
	padding:0;
	
}

.nav
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: #DACE7C;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	padding: 20px 0px;
	position: absolute;
	min-width: 100vw;
}

.nav li
{
	float: left;
	color: black;
	font-size: 20px;
	padding: 10px;
}

.nav li a
{
	display: block;
	color: black;
	text-decoration: none;
}

.nav #name
{
	font-size: 25px;
}

.bubble
{
	margin-left: 2.5vw;
	float: left;
	background-image: url(Bubble.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 100vh;
	width: 50vw;
}
	
.me
{
	float: right;
	background-image: url(Me.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 45vw;
}

.flex-container
{
	display: flex;
	flex-wrap: nowrap;
}
